<div class="accordion" id="FilterSideNav">
  <div class="accordion-item" *ngFor="let sublist of accordionContent; let i=index">
    <h2 class="accordion-header" id="{{sublist.header}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse-{{i}}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        {{sublist.header}}
      </button>
    </h2>
    <div id="collapse-{{i}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <app-filter-parser [keys]="sublist.keys" [type]="sublist.type"></app-filter-parser>
        <app-star-rating [rating]="85"></app-star-rating>
      </div>
    </div>
  </div>
</div>
