<header
  class="shadow container-fluid py-2 d-flex justify-content-between align-items-center"
>
  <img class="logo pointer" src="assets/img/logo.webp" alt="logo" />
  <nav
    class="fs-20 flex-grow-1 p-0 m-0 desk d-flex align-items-center justify-content-center"
  >
    <ul class="d-flex align-items-center m-0 p-0 justify-content-center">
      <li>
        <a routerLink="" class="mx-2">{{
          "Landing.Header.Home" | translate
        }}</a>
      </li>
      <li>
        <a routerLink="" class="mx-2">{{
          "Landing.Header.Courses" | translate
        }}</a>
      </li>
    </ul>
  </nav>
  <div class="profile-container">
    <button class="btn btn-primary" (click)="setlang('en')">english</button>
    <button class="btn btn-primary" (click)="setlang('ar')">arabic</button>
  </div>
</header>
<div class="up-shift"></div>
