.br-0{border-radius: 0;}
.br-1{border-radius: 1;}
.br-2{border-radius: 2;}
.br-3{border-radius: 3;}
.br-4{border-radius: 4;}
.br-5{border-radius: 5;}
.br-6{border-radius: 6;}
.br-7{border-radius: 7;}
.br-8{border-radius: 8;}
.br-9{border-radius: 9;}
.br-10{border-radius: 10;}
