@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/*font sizes*/
.fs-10 {
  font-size: 0.625rem;
}
.fs-11 {
  font-size: 0.6875rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.fs-16 {
  font-size: 1rem;
}
.fs-17 {
  font-size: 1.0625rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-19 {
  font-size: 1.1875rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-21 {
  font-size: 1.3125rem;
}
.fs-22 {
  font-size: 1.375rem;
}
.fs-23 {
  font-size: 1.4375rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-25 {
  font-size: 1.5625rem;
}
.fs-26 {
  font-size: 1.625rem;
}
.fs-27 {
  font-size: 1.6875rem;
}
.fs-28 {
  font-size: 1.75rem;
}
.fs-29 {
  font-size: 1.8125rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.fs-31 {
  font-size: 1.9375rem;
}
.fs-32 {
  font-size: 2rem;
}
.fs-33 {
  font-size: 2.0625rem;
}
.fs-34 {
  font-size: 2.125rem;
}
.fs-35 {
  font-size: 2.1875rem;
}
.fs-36 {
  font-size: 2.25rem;
}
.fs-37 {
  font-size: 2.3125rem;
}
.fs-38 {
  font-size: 2.375rem;
}
.fs-39 {
  font-size: 2.4375rem;
}
.fs-40 {
  font-size: 2.5rem;
}
.fs-41 {
  font-size: 2.5625rem;
}
.fs-42 {
  font-size: 2.625rem;
}
.fs-43 {
  font-size: 2.6875rem;
}
.fs-44 {
  font-size: 2.75rem;
}
.fs-45 {
  font-size: 2.8125rem;
}
.fs-46 {
  font-size: 2.875rem;
}
.fs-47 {
  font-size: 2.9375rem;
}
.fs-48 {
  font-size: 3rem;
}


.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}


