@import "./custom.scss";
@import "./font.scss";
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Readex Pro', sans-serif;
  min-width: 360px;
  background-color: #FFFFFF;
  font-size: 16px;
}

.mobile {
  display: none !important;
}

.pointer{
  cursor: pointer;
}

.logo{
  height: 60px;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: initial;
  }
  .desk {
    display: none !important;
  }
}


