@import "./font.scss";

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mobile {
  display: none !important;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: initial;
  }
  .desk {
    display: none !important;
  }
}
